table,
.tr,
.td {
  border: 1px solid #000;
  text-align: center;
  border-collapse: collapse;
  padding: 10px;
  margin: 0 auto;
}

p {
  text-align: center;
}

.current {
  border: 3px solid red;
  font-weight: 700;
}
